[Unit]
Description=Waggle Hostname Service
DefaultDependencies=no
Before=shutdown.target
ConditionPathExists=/etc/waggle/node-id

[Service]
ExecStart=/usr/bin/waggle_node_hostname.py -n /etc/waggle/node-id --defer
Type=oneshot
TimeoutStartSec=30

[Install]
WantedBy=shutdown.target
