[Unit]
Description=Waggle Hostname Service
After=waggle-nodeid.service
Before=k3s.service
Wants=waggle-nodeid.service

[Service]
ExecStart=/usr/bin/waggle_node_hostname.py -n /etc/waggle/node-id
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
WantedBy=k3s.service
